/* the following code designates custom variables for various colors featured on 
the website. these are the colors i will be using the most when styling with css. */
:root {
    --main-bg-color: #fff6eb;
    --header-color: #f7d48b;
    --button-color-1: #fff6eb;
    --button-color-2: #8ea2e7;
    --header-2-color: #cbc799;
    --text-color: #1d1f21;
}
/* the following code sets the entire background color and text color of the code included 
between the html tags to the designated variable */
html {
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

body, html {
    height: 100%;
}
/* the following code sets the background color of the header to the designated variable and the
text color to the designated variable. the header is also set to display: flex so that i can use
flexbox in order to position the elements inside the header section accordingly. flex-direction:
row sets the elements inside the container to display horizontally in a row. align-items:
center aligns the items in the center of the container. justify-content: space-between sets
the spacing around each item within the container. */
.header {
    background-color: var(--header-color);
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}
/* this code sets the left margin of the header text in the header section to 20px. the text 
color is also set to the designated variable. */
h1 {
    color: var(--text-color);
    background-color: var(--main-bg-color);
    margin-left: 0px;
    padding: 10px;
    padding-left: 60px;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.nav .link {
    list-style-type: none;
    margin-right: 25px;
    font-size: 25px;
    border-bottom-color: var(--main-bg-color);
    border-bottom-style: solid;
    border-bottom-width: medium;
    padding: 5px;
    display: inline-flex;
}

/* this code removes the underline from all links in the html */
 a {
    text-decoration: none;
}
/* this code sets the items in the nav bar to change color when the mouse hovers over them */
.nav a:hover {
    background-color: var(--main-bg-color);
}

.hero-banner {
    background-image: url(/Users/caitlinash/Desktop/coding-challenges/web-dev-portfolio/assets/images/hero-banner.jpeg);
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    opacity: 80%;
    align-items: flex-end;
    justify-content: end;

}

.quote {
    display: flex;
    margin-right: 50px;
}

.about-me, .work, .contact-me {
    display: flex;
    flex-direction: row;
    margin-left: 150px;

}

.work {
    margin-left: 70px;
}

.contact-me {
    margin-left: 115px;
}

h2 {
    font-size: 50px;
}

img {
    border-left-style: solid;
    border-left-color: #cbc799;
    border-left-width: medium;
    margin-left: 10px;
    margin-right: 20px;
    padding-left: 25px;
    margin-bottom: 30px;
    padding-top: 25px;
}

.paragraphs {
    margin-right: 20px;
    padding-left: 10px;
    line-height: 23px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projects {
    list-style-type: none;
    padding: 20px;
    border-left-style: solid;
    border-left-color: #cbc799;
    border-left-width: medium;
    margin-left: 100px;
}

.other-project {
    display: flex;
    flex-direction: column;
}

.projects h3 {
    border-width: 5px;
    border-style: solid;
    border-color: #cbc799; 
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    background-image: url(/Users/caitlinash/Desktop/coding-challenges/web-dev-portfolio/assets/images/hero-banner.jpeg);
    background-position: center;
    background-size: cover;
}

.projects a:hover {
    background-color: #f7d48b;
    opacity: 100%;
}

.projects a {
    background-color: var(--header-2-color);
    padding-bottom: 10px;
    padding-top: 20px;
}

#first {
    height: 200px;
    width: 600px;
}
/* this adds a solid, medium border to the left of the contact section. display: flex allows the contacts to be formatted
in a row, evenly spaced, and in line with the subheading. the margins and padding set the contacts to look closer to the 
left border and closer the the middle of the "contact me" section. */
.contacts {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: auto;
    border-left-style: solid;
    border-left-color: #cbc799;
    border-left-width: medium;
    margin-left: 10px;
    padding-left: 5px;
    padding-top: 70px;
    padding-right: 400px;
}
/* this adds a solid, medium border to the bottom of the contacts */
.contacts li {
    border-bottom-color: #cbc799;
    border-bottom-style: solid;
    border-bottom-width: medium;
    margin-bottom: 70px;
}
/* this adds a hover action to the contacts when the mouse hovers over them. the background color changes, and the margin changes
as well to make the contacts pop down further on the page. */
.contacts li:hover {
    background-color: var(--header-2-color);
    margin-bottom: 70px;
    margin-top: 5px;
}