:root {
    --main-bg-color: #fff6eb;
    --header-footer-color: #f7d48b;
    --button-color-1: #fff6eb;
    --button-color-2: #8ea2e7;
    --header-2-color: #cbc799;
    --text-color: #1d1f21;
}

html {
    background-color: var(--main-bg-color);
}

.header {
    background-color: var(--header-footer-color);
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin-left: 20px;
    color: var(--text-color);
}

.header li {
    background-color: var(--main-bg-color);
}

.page-links li {
    list-style-type: none;
    display: inline-block;
    margin-right: 25px;
    font-size: 18px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

 a {
    text-decoration: none;
}

.nav li:hover {
    background-color: var(--header-2-color);
}

.hero-banner {
    background-image: url(/assets/images/hero-banner.jpeg);
}

main {
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

h2 {
    font-size: 50px;
}

.about-me p {
    margin-left: 10px;
    margin-right: 20px;
    padding-left: 25px;
    padding-right: 150px;
    line-height: 23px;
}

.other-projects {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 100px;
    padding: 5px;
}

#first {
    height: 300px;
    width: 600px;
    margin: 1px;
}

.other-projects h3, .first-project h3 {
    border-width: 5px;
    border-style: solid;
    border-color: #cbc799; 
    height: 100px;
    width: 300px;
    text-align: center;
    background-color: #f7d48b
}

.first-project {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.contacts {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h2 {
    background-color: var(--header-2-color);
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
}

.footer {
    background-color: var(--header-footer-color);
}